:host {
  display: block;
  padding: 10px;
  text-align: center;
}
h1 {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-bottom: 25px;
  color: #4f7fff;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 10px 0;
}

/* עיגולים המציגים את הניחושים */
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #bbb;
}

/* כפתור Guess */
button {
  display: block;
  margin: 25px auto;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(135deg, #4f7fff, #6fa2ff);
  color: white;
  cursor: pointer;
  font-size: 15px;
  transition: 0.25s;
}

button:hover:not([disabled]) {
  transform: translateY(-3px);
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* רקע כללי */
.win-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  text-align: center;
}

/* כרטיס מעוצב */
.win-card {
  background: #ffffff;
  padding: 40px 55px;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  max-width: 460px;
  border: 2px solid #e6e6e6;
}

/* אייקון גביע */
.icon {
  font-size: 85px;
  margin-bottom: 15px;
}

/* כותרת */
.win-card h1 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 10px;


  color: linear-gradient(135deg, #2ecc71, #78e08f);;

  text-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

/* טקסט */
.win-card p {
  font-size: 19px;
  color: #444;
  margin: 0;
}
