<h1> The Game </h1>


@if(!isWin){
@for(g of guessList; track g.id){
<div class="row">
    @for(c of g.colors; track c){
    <div class="circle" [style.background-color]="c"></div>
    }
    <app-bool-pgia [colors]="g.colors" (winner)="win()"> colors </app-bool-pgia>
</div>
}

<button (click)=tryGuess() [disabled]="isGuessMode || guessList.length >=10"> Guess </button>
@if(isGuessMode){
<app-new-try (try)="try()"> </app-new-try>
}
}

@else{
  <div class="win-page">
    <div class="win-card">
      <div class="icon">🏆</div>
      <h1>You win!</h1>
      <p>Well done! You have successfully completed the challenge.</p>
    </div>
  </div>
}
